*{
  text-decoration: none;

}
html {
    scrollbar-color: rgb(222, 227, 230) 
    #212F3D;
    scrollbar-width: thin;
  }
  
  html::-webkit-scrollbar {
    width: 10px;
  }
  
  html::-webkit-scrollbar-track {
    background-color: darkgrey;
  }
  html::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
  }